<!-- footer -->

<div class="footer">
    <div class="footer-div">

        <div class="footer-en-inr-socialMedia">
            <div class="footer-en">
                <p><i class="fa-solid fa-earth-americas" style="margin-right: 5px;"></i>English (IN)</p>
            </div>
            <div class="footer-inr">
                <p><i></i>INR</p>
            </div>
            <div class="footer-socialMeadia">
                <a href="">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-square-twitter"></i>
                </a>
                <a href="">
                    <i class="fa-brands fa-square-instagram"></i>
                </a>
            </div>
        </div>
        
        <div class="footer-info-links">
            <div class="footer-info">
                <p><i></i>2025 Airbnb, Inc.</p>
            </div>
            <div class="footer-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">· Terms</a>
                <a href="/sitemap">· Sitemap</a>
                <a href="/companydetails">· Company details</a>
            </div>
        </div>
        
    </div>

</div>